<!doctype html>
<html>
	<title>
		Program Tester
	</title>
	<body>
		I'm Program Tester. I can test your source code.<br/>
		<form action = "test" method = "POST" enctype = "multipart/form-data">
			Language:
			<select name = "lang">
				<option value="C"> C
				<option value="C++"> C++
				<option value="C++11"> C++11
				<option value="Java"> Java
				<option value="Python 2"> Python 2
				<option value="Python 3"> Python 3
			</select><br/>
			Code: <input type = "file" name = "code"/><br/>
			Input: <input type = "file" name = "input"/><br/>
			<input type = "submit" value="Test"> </input><br/>
		</form>
	</body>
</html>
