[Desktop Entry]
Version=1.0
Type=Application
Name=PC^2 Team
Icon=/home/icpc/pc2-9.4.1/pc2.ico
Comment=PC^2 Team Client
Terminal=false
Categories=Development;
Exec=/bin/bash -c "cd $HOME/pc2-9.4.1 && bin/pc2team"
